MQTT/API.json
[{"id":"bc619cfd.cc4cf","type":"tab","label":"API"},{"id":"952f6769.b71038","type":"http in","z":"bc619cfd.cc4cf","name":"","url":"/luz","method":"get","swaggerDoc":"","x":112,"y":223,"wires":[["6d18a19f.66864"]]},{"id":"6d18a19f.66864","type":"function","z":"bc619cfd.cc4cf","name":"Formata a Resposta","func":"msg.headers = {\n    \"Content-Type\":\"application/json\"\n};\nmsg.payload = {\"value\": parseInt(flow.get(\"luz\"))};\nreturn msg;","outputs":1,"noerr":0,"x":237,"y":371,"wires":[["a7e19a14.b39f18","c6ff087d.fb9c98"]]},{"id":"a7e19a14.b39f18","type":"http response","z":"bc619cfd.cc4cf","name":"","x":439.5,"y":435,"wires":[]},{"id":"4dec0dfd.5ecb84","type":"mqtt in","z":"bc619cfd.cc4cf","name":"","topic":"fiap/lab902/arduino29/luz","qos":"2","broker":"f418b0f3.af32e","x":172.5,"y":71,"wires":[["3d2b3373.5c1e6c"]]},{"id":"3d2b3373.5c1e6c","type":"change","z":"bc619cfd.cc4cf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"luz","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":510.5,"y":80,"wires":[[]]},{"id":"c6ff087d.fb9c98","type":"switch","z":"bc619cfd.cc4cf","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"}],"checkall":"true","outputs":1,"x":430,"y":291,"wires":[["3ad7a9f5.7a20e6"]]},{"id":"8b868385.15701","type":"function","z":"bc619cfd.cc4cf","name":"Parse LED value","func":"if(\"value\" in msg.payload){\n    msg.statusCode = 200;\n    msg.payload = msg.payload.value;\n}else{\n    msg.statusCode = 400;\n    msg.payload = \"Falha\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":225,"y":540,"wires":[[]]},{"id":"3ad7a9f5.7a20e6","type":"mqtt out","z":"bc619cfd.cc4cf","name":"","topic":"fiap/lab902/arduino51/led","qos":"1","retain":"true","broker":"f418b0f3.af32e","x":627,"y":195,"wires":[]},{"id":"f418b0f3.af32e","type":"mqtt-broker","z":"","broker":"10.20.71.61","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]