MQTT/Cliente-REST.json
[{"id":"32daa4b1.88a6dc","type":"tab","label":"Cliente REST"},{"id":"40b56cde.6e6aa4","type":"http request","z":"32daa4b1.88a6dc","name":"","method":"PUT","ret":"txt","url":"http://localhost:1880/led","tls":"","x":373.5,"y":95,"wires":[["930a40c8.b7b08"]]},{"id":"64eeec34.8d7b14","type":"inject","z":"32daa4b1.88a6dc","name":"","topic":"","payload":"{\"value\":200}","payloadType":"json","repeat":"","crontab":"","once":false,"x":216,"y":203,"wires":[["40b56cde.6e6aa4"]]},{"id":"930a40c8.b7b08","type":"debug","z":"32daa4b1.88a6dc","name":"","active":true,"console":"false","complete":"false","x":531.5,"y":198,"wires":[]}]