MQTT/gateway.json
[{"id":"16797b0a.dde365","type":"tab","label":"Gateway"},{"id":"763ee170.18124","type":"serial in","z":"16797b0a.dde365","name":"","serial":"ee4e8933.fb76a8","x":110,"y":66,"wires":[["eb092cac.8ea2c"]]},{"id":"eb092cac.8ea2c","type":"function","z":"16797b0a.dde365","name":"Received values","func":"var obj = JSON.parse(msg.payload.trim());\nif(\"luz\" in obj) {\n    msg.payload = obj.luz;\n} else {\n    msg = undefined;\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":144,"wires":[["e2c032e3.1300b"]]},{"id":"e2c032e3.1300b","type":"mqtt out","z":"16797b0a.dde365","name":"","topic":"fiap/lab902/arduino29/luz","qos":"0","retain":"false","broker":"fde9f829.6ee978","x":536,"y":52,"wires":[]},{"id":"d5285245.6268c","type":"mqtt in","z":"16797b0a.dde365","name":"","topic":"fiap/lab902/arduino29/led","qos":"1","broker":"9c7889b6.f3b1d8","x":140,"y":263,"wires":[["da140e0b.1d88f"]]},{"id":"da140e0b.1d88f","type":"function","z":"16797b0a.dde365","name":"Formata cmd LED","func":"msg.payload = {\"led\": parseInt(msg.payload) };\nreturn msg;","outputs":1,"noerr":0,"x":379,"y":360,"wires":[["ce7129c8.567b08"]]},{"id":"ce7129c8.567b08","type":"serial out","z":"16797b0a.dde365","name":"","serial":"ee4e8933.fb76a8","x":604,"y":238,"wires":[]},{"id":"ee4e8933.fb76a8","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"fde9f829.6ee978","type":"mqtt-broker","z":"","broker":"10.20.92.51","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9c7889b6.f3b1d8","type":"mqtt-broker","z":"","broker":"10.20.92.51","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]