MQTT/teste-mqtt.json
[{"id":"6450cb01.490974","type":"tab","label":"Teste MQTT"},{"id":"c1995694.489898","type":"mqtt in","z":"6450cb01.490974","name":"","topic":"fiap/lab902/arduino29/luz","qos":"2","broker":"","x":154,"y":75,"wires":[["200106ae.389c8a"]]},{"id":"200106ae.389c8a","type":"debug","z":"6450cb01.490974","name":"","active":true,"console":"false","complete":"false","x":411,"y":71,"wires":[]},{"id":"efd82467.67b308","type":"inject","z":"6450cb01.490974","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":98,"y":159,"wires":[["d68237ee.931e98","ff675051.18f2f","e3644fc7.8a87b","acce1b7c.688f18","bdb1120b.eced6"]]},{"id":"d68237ee.931e98","type":"mqtt out","z":"6450cb01.490974","name":"","topic":"fiap/labC/arduino19/led","qos":"1","retain":"true","broker":"","x":398,"y":157,"wires":[]},{"id":"609a80ee.7d32f","type":"inject","z":"6450cb01.490974","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"x":97,"y":203,"wires":[["d68237ee.931e98","ff675051.18f2f","e3644fc7.8a87b","acce1b7c.688f18","bdb1120b.eced6"]]},{"id":"5fc28dd6.62b874","type":"inject","z":"6450cb01.490974","name":"","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"x":99,"y":254,"wires":[["d68237ee.931e98","e3644fc7.8a87b","ff675051.18f2f","acce1b7c.688f18","bdb1120b.eced6"]]},{"id":"82f99105.87202","type":"inject","z":"6450cb01.490974","name":"","topic":"","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"x":99,"y":306,"wires":[["d68237ee.931e98","ff675051.18f2f","e3644fc7.8a87b","acce1b7c.688f18","bdb1120b.eced6"]]},{"id":"ff675051.18f2f","type":"mqtt out","z":"6450cb01.490974","name":"","topic":"fiap/labC/arduino54/led","qos":"1","retain":"true","broker":"","x":396,"y":215,"wires":[]},{"id":"e3644fc7.8a87b","type":"mqtt out","z":"6450cb01.490974","name":"","topic":"fiap/labC/arduino09/led","qos":"1","retain":"true","broker":"","x":401,"y":272,"wires":[]},{"id":"acce1b7c.688f18","type":"mqtt out","z":"6450cb01.490974","name":"","topic":"fiap/labC/arduino40/led","qos":"1","retain":"true","broker":"","x":400,"y":332,"wires":[]},{"id":"bdb1120b.eced6","type":"mqtt out","z":"6450cb01.490974","name":"","topic":"fiap/labC/arduino21/led","qos":"1","retain":"true","broker":"","x":399,"y":399,"wires":[]}]